body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.search-page {
    background-color: #1B1A55;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 60px;
}

.logo {
    color: #9290C3;
    font-size: 24px;
    font-weight: bold;
}

.logo a {
    text-decoration: none; /* Removes underline */
    color: inherit;
}

.search-bar-container {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar {
    width: 50%;
    padding: 8px 35px 8px 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    color: #808080;
}

.search-bar::placeholder {
    color: #808080;
}

.magnifying-glass {
    position: absolute;
    right: calc(25% - 20px);
    font-size: 18px;
    color: #808080;
    pointer-events: none;
}

.logout-button {
    background-color: #9290C3;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 15px;
}

.logout-button:hover {
    opacity: 0.9;
}

.profile-picture img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.search-results-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

main {
    padding-left: 240px;
    padding-right: 240px;
}

.search-results-header h2 {
    margin: 0;
    color: #727DBE;
    font-weight: bold;
    font-size: 24px;
}

.create-playlist-button {
    background-color: #727DBE;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.create-playlist-button:hover {
    opacity: 0.9;
}

.divider {
    height: 1px; 
    background-color: #9290C3;
    margin: 10px 0px; 
    border: none;
}


.search-results {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.track-card {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    width: 400px;
    transition: transform 0.2s;
}

.track-card:hover {
    transform: translateY(-5px);
}

.track-image {
    width: 50%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.track-details {
    text-align: center;
    margin: 10px 25px 0;
}

.track-name {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin: 0;
}

.artist-name {
    font-size: 14px;
    color: #666;
    margin: 5px 0 0;
}

.add-button {
    /* position: absolute; */
    /* bottom: 10px;  */
    /* right: 10px;  */
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    background-color: #9290C3;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    /* z-index: 3; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    box-shadow: 0 4px 6px rgb(24, 24, 24);
    transition: transform 0.2s ease, opacity 0.2s ease;
}

.add-button:hover {
    transform: scale(1.1);
    opacity: 0.9;
}