body {
    height: 100%;
    margin: 0;
    background-color: #1B1A55;
    font-family: Arial, sans-serif;
}

.user-profile {
    background-color: #1B1A55;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 60px;
}

.logo {
    color: #9290C3;
    font-size: 24px;
    font-weight: bold;
}

.logout-button {
    background-color: #9290C3;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 15px;
}

.logout-button:hover {
    opacity: 0.9;
}

.profile-info {
    padding-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%; /* Ensure it occupies the space */
    text-align: center;
    color: #9290C3;
}
.user-profile .profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.user-profile h2 {
    color: #9290C3;
    font-size: 40px;
    margin-bottom: 10px;
}

.user-profile .line {
    width: 75%;
    height: 2px;
    background-color: #727DBE;
    margin: 0 auto 20px;
}

.profile-data {
    display: flex;
    gap: 20px;
    padding: 10px;
    justify-content: center;
    margin-left: 12%;
    margin-right: 12%;
}

.profile-data .left-column {
    flex: 3;
    /* border: 1px solid #ccc; */
    /* padding: 20px; */
    background-color: #1B1A55;
}

.profile-data .right-column {
    flex: 1;
    /* border: 1px solid #ccc; */
    /* padding: 20px; */
    background-color: #1B1A55;
}

.profile-data h3 {
    color: #9290C3;
    font-size: 40px;
    margin-bottom: 10px;
}

/* .playlists {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
} */

.playlists p {
    color: #9290C3;
    font-size: 30px;
}

.genres {
    list-style: decimal;
    padding: 30px;
}

.genres li {
    margin: 5px 0;
    color: #9290C3;
    font-size: 30px;
    padding: 5px;
}